
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: #fefefe;
}
/***************************  Estilos para el header logo  ***************************/
.cabecera {
    position: relative;
    display: flex;
    width: 100%;
    /* height: 100px; */
    background-image: url(CSS/pizza21.jpg);
    background-size: cover;
}
.logo {
    width: 30%;
}
h1 {
    font-size: 3em;
    text-align: center;
}
h2 {
    text-align: center;
    padding: 10px;
    font-weight: 700;
}
h1 {
    color: #FF5A9F;
    text-shadow: -1px 1px 0px #b8148c,
                 -2px 2px 0px #a81581,
                 -3px 3px 0px #861067,
                 -4px 4px 0px #680f50,
                 -5px 5px 0px #3d062e;
}
 h2 {
    /* background: linear-gradient(#000, #222, #555, #999); */
     background: linear-gradient(to right, #000, #222, #444); 
    /* background: radial-gradient(#e5097f, #e0005a, #c71585);  */
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
} 

/**************************   estilos para la barra de redes sociales **********************/
.menu-social-barra ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.menu-social-barra ul li a {
    position: relative;
    font-size:  2.5em;
    top: 20px;
    padding-left:  100px;
    text-align: center;  
    color: #f80a71;
    /* background: linear-gradient(#dc0666, #e0005a, #e5097f); */
    /* background: radial-gradient(#ff00ff, #e0005a, #c71585); */
    /* -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; */
}
.menu-social-barra ul li a i {
    padding: 3px;
    transition: all .5s ease;
}
.menu-social-barra ul li a i:hover {
    box-shadow: 0px 0px 25px rgb(231, 13, 141);
    border-radius: 3px;
}
/************************   estillos para la barra de menu navegación ***********************/
.menu-items {
    position: relative;
    width: 100%;
    background-color: #ddd;
}
#btn-menu {
    display: none;
}
.menu-items label {
    cursor: pointer;
    display: none;
    padding: 15px;
}

.menu-items-barra ul {
    display:  flex;
    list-style: none;
}
.menu-items-barra li {
    text-align: left;
    width: 15%; 
}
.menu-items-barra ul li a {
    display: block;
    padding: 10px;
    font-size:  20px;
    text-align: left;
    text-decoration: none;
    font-weight: 700    ;
    color: #ca0290;
    transition: all 0.5s ease;
}
.menu-items-barra ul li a:hover {
    color: #801171;
    background-color: rgba(0,0,0,.3);
}





@media (max-width: 768px) {
    .cabecera {
        width: 100%;
        display: grid; 
        /* grid-template-rows: 1fr 1fr; */
        height: 170px;
    }
    
    .menu-social-barra ul li a {
        /* display: block; */
        display: flex;
        font-size:  40px;
        top: -100px;
        left: 30px;
        padding-left:  10px;
    }
    

     .menu-items label {
        display: block;
    }   

    .menu-items-barra {
        position: relative;
        width: 100%;
        margin-left: -100%;
        background-color: #d1d1d1;
        transition: all 0.5s;
    }
    .menu-items-barra ul {
        flex-direction: column;
    }
    .menu-items-barra li {
        width: 100%;
    }
    .menu-items-barra ul li a {
        text-align: left;
        padding-left: 15%;
    }
    #btn-menu:checked ~.menu-items-barra {
        margin: 0;
        border-right: none;
        border-bottom: 1px solid #fff;
    }
}





@media (max-width: 768px) {
    .menu-items {
        margin-top: 20px;
    }
}







































































